* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./src/images/background-pic.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 150px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 120px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 160px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite;
}

@keyframes backcolor {
    100% {
        background-position: 0 0;
    }
}