.responsive {
    width: 100%;
    height: auto;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}